.mass-media {
  max-width: 1440px;
  margin: 0 auto;
  background: #f5f1e9;
  padding-top: 40px;
  padding-bottom: 45px;

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #35312e;
    margin: 0;
  }
  &__ul {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 45px auto 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__li {
    list-style-type: none;
  }
}

@media all and (max-width: 1150px) {
  .mass-media {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (max-width: 400px) {
  .mass-media {
    &__ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
