.App {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
  overflow: auto;
  margin: 0;
}

.skillet {
  background-image: url(../../images/skillet.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__container {
    margin-left: 28%;
    width: 248px;
    margin-top: 11%;
    margin-bottom: 11%;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #35312e;

    &_small {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 9px;
    }
    &_large {
      font-size: 50px;
      line-height: 72px;
      letter-spacing: 1px;
    }

    &_underline {
      font-size: 50px;
      line-height: 72px;
      letter-spacing: 1px;
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }

  &__button {
    background: #d37657;
    width: 248px;
    height: 60px;
    border-radius: 2px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 57px;
    border: none;
    cursor: pointer;
  }
}
