.App {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: black;
  overflow: auto;
  margin: 0;
  position: relative;
}

.header {
  &__up {
    background-color: #f0eedd;
    display: flex;
    text-align: center;
    justify-content: center;

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin: 10px auto;
      color: #670a18;
    }
  }

  @media all and (max-width: 440px) {
    .header {
      &__up {
        &-text {
          font-weight: 400;
          font-size: 10px;
          line-height: 18px;
          margin: 10px 10px;
        }
      }
    }
  }
  // &__bottom {
  //   background-color: #e6e6e6;
  //   height: 140px;
  // }
}
