.place {
  background: #fcfaf6;

  &__container {
    padding-top: 121px;
    padding-bottom: 114px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 135px;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #35312e;
    margin: 0;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4f463f;
    display: block;
    max-width: 650px;
    margin: 0;
  }
}

@media all and (max-width: 1100px) {
  .place {
    &__container {
      padding: 80px 20px 80px;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    &__text {
      text-align: center;
    }
  }
}
